.contenedor-fondo, .padre-solo-formulario{

}
.contenedor-padre {
 
display: flex;
flex-direction: column;
justify-content: space-around;
z-index: 99;

padding: 5px 10px;
margin: 1vh 0;

}


.contenedor-formulario, .padre-solo-formulario{
 
  display: inline-block;
  
}

.titulo > img{
  width: 50px;
  border-radius: 50%;
  background-color: gainsboro;
}

  .inactivos{
  
    background-color: rgba(245, 7, 7, 0.801);
   
    
   } 
   .activos{
    background-color: rgba(8, 196, 33, 0.726);
  
   }

   .agregar{
    margin-top: 20px;
    background: linear-gradient(45deg, rgb(243, 2, 2),rgb(214, 67, 9));
    font-size: 20px;
    color: aliceblue;
    width: 100%;
   }
 
   @media screen and (min-width:768px) {
    .contenedor-padre{
      min-height: 80vh;
   
    }

    .contenedor-formulario{
      padding: 8%;
    }
   }

