

<div class="contenedor-padre" [ngClass]="{'padre-solo-formulario': mostrarFormulario}">

  <div class="contenedor-contenido" >
    <div  class="contenedor-formulario"  *ngIf="mostrarFormulario"
    [class.animacion-aparecer]="mostrarFormulario">
 

      <app-generador-formulario (enviarMensaje)="recepcionDatos($event)"
        [idRecibido]="idSeleccionado"
        [nuevo]="nuevo"
      ></app-generador-formulario>
      
    </div>

    <div class="contenedor-datos"  [ngClass]="{'contenedor-mobile':mostrarFormulario==true}" *ngIf="listaGeneradores.length>0">
      <div class="contenedor-lista-wrapper">
        <ul class="contenedor-lista" #lista>
          <li
            class="item-lista"
            *ngFor="let item of listaGeneradores; let i = index"
            [class.activo]="selectedIndex === i"
            (click)="seleccionarElemento(i, item.id)"
          >
            <span class="span-nombre">{{ item.nombre }}</span>

            <div class="toogle-estado">
              <input type="checkbox" hidden   name="check-toggle"  [id]="'checkbox-' + i" 
              [(ngModel)]="item.estado" 
              (change)="cambiarEstado(item.id, item.estado)">
              <label  [for]="'checkbox-' + i" class="toggle" [class.toggle--activo]="item.estado">
                <div class="toggle__circle" [class.toggle__circle--activo]="item.estado"></div>
              </label>
            </div>
          
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contenedor-empty" *ngIf="!mostrarFormulario && listaGeneradores.length==0">
    <img class="img-warning" src="../../../assets/icons/warning.png" alt="">
    <span class="titulo-empty">No hay Generadores Cargados</span>
    <span class="texto-empty">Por favor Ingrese Datos de un nuevo Generador</span>
  </div>
  <button type="button" class="btn agregar" [ngClass]="{'contenedor-mobile':mostrarFormulario || idSeleccionado!=undefined }" (click)="activarNuevo()" *ngIf="!nuevo && !idSeleccionado">Agregar</button>
</div>

<div class="contenedor-modal" *ngIf="activarModal" >
 
  <app-modal   
  [_mensaje]="mensajeDeFormulario" [estadoAprobado]= "estadoModal"/>
</div>

