@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


.container-modal{

    box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.555);
   position: absolute;
   background: #ffffff;
  
   width: 200px;
   height: 150px;
 
    top: 60px;
    right: 0;
   
    border-radius: 0 0 15px 15px;
    
    display: flex;
    flex-direction: column; 

    justify-content: space-between;
   

    font-family: "Corben", serif;
  font-weight: 500;
  font-style: normal;
  font-style: oblique;
    /* border: 2px solid black; */
    z-index: 9999;
   
  animation: opacidad .7s linear .3s 1 forwards ;
}
.success-modal {
    /* Estilos específicos para un resultado exitoso */

    background-color: #1db140;
  
  }
  
  .error-modal {
    /* Estilos específicos para un resultado de error */
    background-color: #ff0019;
  }

.icon-modal{
    padding: 10px 0;
    position: relative;
    
    width: 100%;
    height: 30%;
}
.icon-modal img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.message-Modal{
    flex: 1;
 /*    display: flex;
    align-items: center;
    justify-content: center; */
}
.message-Modal >*{
    padding-top: 20px;
    position: relative;
    width: 80%;
    
     
     text-align: center;
     font-family: "Roboto Slab", serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
    
 }
.texto-success{
    color: #1db140;
}
.texto-error{
    color:#ff0019
}



.loader{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.message-Modal span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    border-radius: 10px;
    font-size: 15px;
  }

.boton{
    font-size: 12px;
}

img{ width: 40px; 
    position: relative;
animation: giroEjeHorizontal 1.5s ease-in .7s 1 normal forwards;
align-self: center;
}





@media screen and (max-width:768px) {
   
    .container-modal{
        width: 50%;
        height: 30%;
        margin: auto;
        inset: 0;
        justify-content: space-around;
    }
    .message-Modal{
      flex: 1;
    } 
    .message-Modal span{
        font-size: 17px;
    }
    .icon-modal img{
        width: 45px;
        height: 45px;
    }
}


@keyframes giroEjeHorizontal {
    0%{
        transform: rotateY(0);
        transform: translateX(100px);
        opacity: .3;
    }

    50%{
        transform: rotateY(180deg);
        opacity: .7;
    }

    100%{
        transform: rotateY(360deg);
        transform: translateX(-50%);
        opacity: 1;
    }
}

@keyframes opacidad {
    from {
        opacity: 0; 
      }
      to {
        opacity: 1;
      }
}
