 
 <div class="contenedor-fondo"></div>
 
 <div class="contenedor-padre">
    
    <button class="btn agregar" (click)="activarNuevo()" *ngIf="!nuevo">Agregar</button>
  
  <div class="contenedor-contenido" >

   
    <div class="contenedor-lista-wrapper"  [ngClass]="{'contenedor-lista-invisible': mostrarFormulario}" *ngIf="listaTipoResiduos.length>0">
      

    <ul class="contenedor-lista" *ngIf="listaTipoResiduos.length!=0">


      <li
      class="item-lista"
      *ngFor="let item of listaTipoResiduos; let i = index"
      [class.activo]="selectedIndex === i"
      (click)="seleccionarElemento(i, item.id)">

        <span class="span-nombre">{{ item.nombre }}</span>

        <div class="toogle-estado">
          <input type="checkbox" hidden   name="check-toggle"  [id]="'checkbox-' + i" 
          [(ngModel)]="item.estado" 
          (change)="cambiarEstado(item.id, item.estado)">
          <label  [for]="'checkbox-' + i" class="toggle" [class.toggle--activo]="item.estado">
            <div class="toggle__circle" [class.toggle__circle--activo]="item.estado"></div>
          </label>
        </div>
      </li>
    


    </ul>

    
   

       
   </div>

   <div class="contenedor-formulario" [ngClass]="{'contenedor-mobile':mostrarFormulario}" *ngIf="mostrarFormulario"
   [class.animacion-aparecer]="mostrarFormulario">
   
     <app-tipo-residuo-formulario (enviarMensaje)="recepcionDatos($event)"
     [idRecibido]="idSeleccionado"
     [nuevo]="nuevo"/>
   </div>

  </div>

  <div class="contenedor-empty" *ngIf="!mostrarFormulario && listaTipoResiduos.length==0">
    <span class="titulo-empty"><img class="img-warning" src="../../../assets/icons/ticketWarning.png" alt="warning">Aviso</span> 
    <span class="texto-empty"> No hay registro de Residuos</span>
    <span class="texto-empty"> Por Favor Registre Clasificación de <span class="tipo-residuo-remarque">Tipo De Residuo!</span> </span>
   </div>
   </div>

<div class="contenedor-modal" *ngIf="activarModal" >
  <app-modal   
  [_mensaje]="mensajeDeFormulario" [estadoAprobado]= "estadoModal"/>
</div>
