<div class="contenedor-lista-residuo">
  <table class="tabla-residuos">
     <caption>
      Residuos Retirados
      <button class="btn-agregar" (click)= "agregarResiduo()" >Agregar</button>
     </caption>
     
        <tbody>
         <tr *ngFor="let item of residuosLista; let i = index">

            <td class="columna-tipo">
              
          <select class="form-select" (change)="onTipoChange($event, item)">
              <option *ngFor="let tipo of getFilteredTipos(item)" [value]="tipo.id" [selected]="tipo.id === item.tipoResiduo.id">
                {{ tipo.codigo }}
              </option>
            </select> </td>

            <td id="columna-nombre">{{item.tipoResiduo.nombre}}</td>
            <td class="col-peso">    <input 
              type="text" 
              [(ngModel)]="item.peso" 
              (input)="recalcularTotal()" 
              step="any" 
              appValidadorPeso
            /></td>
            
            <td><img class="img-delete" src="../../assets/icons/delete.png" alt=""  (click)="deleteResiduo(i, item.id)"> </td>
                              </tr> 
        </tbody>
        <caption class="container-no-data" *ngIf="residuosLista.length==0"><span class="span-no-data">Aún no Hay carga de datos En La Hoja</span></caption>
      <tfoot>
          <tr>
            <td colspan="2">Total:</td>
            <td class="peso-total">{{totalPeso}}</td>
          </tr>
        </tfoot>

        
  </table>
  <button class="btn-finalizar" (click)="enviarListaResiduos()">Finalizar Carga</button>
  <app-modal-info>
</app-modal-info>
  </div>