
<div class="contenedor-principal-formulario">
  
 
  <form [formGroup]="formularioGenerador" (ngSubmit)="onSubmit()" >
 
     <div class="contenedor-grupo">
      <!-- Contenedor Input Nombre Generador -->
      <div class="contenedor-input" >
        <label for="nombre" class="label">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032" />
            <path d="M15 19l2 2l4 -4" />
          </svg>
          Nombre Titular</label>
        <input class="input-formulario"  [ngClass]="{'is-invalid': hasErrors('nombre','required'),'input-disabled':estadoModificacion}" type="text"  id="nombre" formControlName="nombre">
        <img class="candado" src="../../../../assets/icons/candado_bloqueado.png" alt="candado-bloq" *ngIf="estadoModificacion && !nuevo">
  <img class="candado" src="../../../../assets/icons/candado_desbloqueado.png" alt="candado-desbloq" *ngIf="!estadoModificacion && !nuevo">
        <div class="text-error mensajeError" *ngIf="hasErrors('nombre','required')">
          <img class="imagen-error" src="../../../../assets/icons/error-modal.png" alt="error">  Por favor Ingresa Nombre a Registrar
        </div>
      </div>
    
  
      <!-- Contenedor Input Cuit -->
      <div class="contenedor-input" >
        <label for="cuit" class="label">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032" />
            <path d="M15 19l2 2l4 -4" />
          </svg>
          CUIL/CUIT</label>
        <input class="input-formulario "  [ngClass]="{'is-invalid': hasErrors('cuit','required'),'input-disabled':estadoModificacion}" type="number" id="cuit" formControlName="cuit">
        <img class="candado" src="../../../../assets/icons/candado_bloqueado.png" alt="candado-bloq" *ngIf="estadoModificacion && !nuevo">
  <img class="candado" src="../../../../assets/icons/candado_desbloqueado.png" alt="candado-desbloq" *ngIf="!estadoModificacion && !nuevo">
        <!-- div error -->
      <div class="text-error mensajeError" *ngIf="hasErrors('cuit','required')">
        <img class="imagen-error" src="../../../../assets/icons/error-modal.png" alt="error"> Ingrese Numero CUIT o CUIL
      </div>
      <div class="text-alerta mensajeError" *ngIf="hasErrors('cuit','min')">
        <img  class="imagen-error"  src="../../../../assets/icons/warning.png" alt="error">  Error!! Ingrese CUIT/CUIL con un valor a 11 digitos
      </div>
      <div class="text-alerta mensajeError" *ngIf="hasErrors('cuit','max')">
        <img  class="imagen-error" src="../../../../assets/icons/warning.png" alt="error">  Error!! Ingrese CUIT/CUIL con un valor a 11 digitos
      </div>
      </div>
  
      
      
     </div>

     <div class="contenedor-grupo">
 <!-- Contenedor Input Dirección -->
 <div class="contenedor-input">
  <label for="direccion" class="label">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
      <path d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032" />
      <path d="M15 19l2 2l4 -4" />
    </svg>
    Direccion</label>
  <input  class="input-formulario direccion" [ngClass]="{'is-invalid': hasErrors('direccion','required'),'input-disabled':estadoModificacion}" type="text" class="input-formulario" id="direccion" formControlName="direccion">
  <img class="candado" src="../../../../assets/icons/candado_bloqueado.png" alt="candado-bloq" *ngIf="estadoModificacion && !nuevo">
  <img class="candado" src="../../../../assets/icons/candado_desbloqueado.png" alt="candado-desbloq" *ngIf="!estadoModificacion && !nuevo">
  <div class="text-error mensajeError" *ngIf="hasErrors('direccion','required')">
    <img  class="imagen-error" src="../../../../assets/icons/error-modal.png" alt="error">   Ingresar Direccion del Generador
  </div>
</div> 


<!-- Contenedor Input legajo -->

<div class="contenedor-input" >
  <label for="legajo" class="label">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
      <path d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032" />
      <path d="M15 19l2 2l4 -4" />
    </svg>
    Legajo</label>
  <input class="input-formulario"  type="text"  id="legajo" formControlName="legajo">
  <img class="candado" src="../../../../assets/icons/candado_bloqueado.png" alt="candado-bloq" *ngIf="estadoModificacion && !nuevo">
  <img class="candado" src="../../../../assets/icons/candado_desbloqueado.png" alt="candado-desbloq" *ngIf="!estadoModificacion && !nuevo">
</div>

<!-- Contenedor Input Telefono -->
<div class="contenedor-input">
  <label for="cuit" class="label">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
    <path d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032" />
    <path d="M15 19l2 2l4 -4" />
  </svg>Telefono</label>
  <input  class="input-formulario"  [ngClass]="{'is-invalid': hasErrors('cuit','required'),'input-disabled':estadoModificacion}" type="number" class="input-formulario" id="telefono" formControlName="telefono">
  <img class="candado" src="../../../../assets/icons/candado_bloqueado.png" alt="candado-bloq" *ngIf="estadoModificacion && !nuevo">
  <img class="candado" src="../../../../assets/icons/candado_desbloqueado.png" alt="candado-desbloq" *ngIf="!estadoModificacion && !nuevo">


</div>
     </div>
   
<!-- boton-->
<div class= "container-btn">
  <button type="button" class="btn aceptar" (click)="onSubmit()" *ngIf="!estadoModificacion">{{textoBotonSubmit}}</button>

  <button type="button" class="btn modificar" (click)="hablitarEdicion()" *ngIf="estadoModificacion">Realizar modificación </button>

 

  
</div>
    
  </form>
 
 
</div>
