@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{

  --texto-logo:'Metal', serif;
 
}
.navbar-brand{
  display: flex;
position: relative;
 height: 5vh;
 margin-right: 3vh;
 perspective: 1000px;
 justify-content: space-evenly;
}




.navbar-brand>img
{width: 5vh;

}



.img-residuos{
  width: 5vh;
}

.logo>*{
  margin: 0;
  font-size: 2.5vh;
}
.logo{

  max-width: 25vh;
 
  padding-right: 2.5vh;
 
 color: #f1f1f1;
  font-family: 'Metal', serif;
  display: flex;
  
  align-items: center;
  border-radius: 2vh .5vh .7vh 2.5vh;
  align-self: flex-end;
}
.logo>img{
  width: 6vh;
}
.texto-logo1{
  padding-right: .5rem;
}

main{
position: relative;
box-sizing: border-box;
  min-height: 100vh;
 
width: 100%;
overflow-y: hidden;
  margin: 0 ;

overflow: hidden;

   background: linear-gradient(#a8b2ca,#7f9bdd); 
 
}


footer{
width: 100%;
  z-index: 9999;
}
.contenedor-footer{

  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
}
.footer-datos{
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-datos>p>a>img{
  width: 6vh;
}

.navbar-expand{
  align-items: flex-end;
  
}

.titulo-central{
position: relative;
/* background: red; */
letter-spacing: 5px;
width: 50%;
height: 100%;
font-size: 40px;
text-align: center;
color: white;
text-wrap: balance;
font-family: "Poppins", serif;
font-weight: 600;
font-style: normal;
padding-bottom: 3rem;
flex: 1;
}


@media screen and (max-width: 800px) {

  th{
    font-size: 10px;
  
  }
  td{
    font-size: 9px;
    
  }

  .footer-datos>p>a>img{
    width: 5vh;
  }

 
}

@media screen and (min-width:768px) {
  main{
    min-height: 70vh;
  }
  
}
/* @media screen and (max-width:500px) {
  
  .logo{
    width: 5vh;
 display: none;
  }
    .texto-logo1{
      display: none;
    }
 
   .navbar{
    height: 8vh;
   }
   .btn{
    height: 80%;
    border: 2px solid rgba(255, 255, 255, 0.308);
    border-radius: 50%;
   }
   main{
    min-height: 50vh; 
    max-height:  calc(100vh - 150px);
   }
} */

