<div class="contenedor-fondo">
    
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">
<img src="../../assets/icons/stars.png" alt="">


</div>

<div class="contenedor-404">

<span class="principal-404"><span class="span-4" >4</span><img id="luna-animada" src="../../assets/background/moon-26619_640.png" alt=""><span class="span-4">4</span></span>


    <span class="Pagina-NoEncontrada">Página no encontrada</span>
    <span class="mensaje-servidor">Error de Comunicación con el servidor</span>
</div>