<div class="contenedor-fondo"></div>
<div class="contenedor-principal">
  <div class="contenedor-menu">
    <div #selectBox class="select-box select-certificado">
      <span>Periodo Certificado</span>
      <mat-form-field>
        <mat-label>Seleccionar Periodo</mat-label>
        <mat-select [(value)]="selectedCertificadoId" (selectionChange)="onSelectCertificado($event.value)">
          <mat-option *ngFor="let certificado of listaCertificados" [value]="certificado.id">
            {{certificado.anio}} {{certificado.mes}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="tabla-tickets" *ngIf="selectedCertificadoId != null ">
    <img class="print" src="../../../assets/icons/print.png" alt="imprimir" (click)="descargarReporte(selectedCertificadoId)">
    <div *ngFor="let hoja of listaHojas" class="lista-hojas">
     
   

       <mat-expansion-panel hideToggle (opened)="onPanelOpened(hoja)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hoja de Ruta N° <span class="data-hoja">{{ hoja?.id }}</span>
          </mat-panel-title>
          <mat-panel-description>
        Fecha Inicio:  <span class="data-hoja"> {{ hoja?.fechaInicio | date }}</span>
         Fecha Inicio: <span class="data-hoja"> {{ hoja?.fechaFin | date }}</span>  
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="Tabla">
          
          <app-tabla-tickets-for-certificate [listaTickets]="hoja.listaTickets" />
        </div>
      </mat-expansion-panel> 
  

    </div>
  </div>
</div>